*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
   background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    width: 100vw;
	z-index: 1000;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #0e8ff1;
	color: white;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.682);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: width 0.3s ease-in-out;
}

.sidebar-open {
	width: 250px;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
	color: blue;
}
@media (max-width: 800px) {
	.hide-on-mobile {
		display: none;
	}
}

header img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

#contact-form {
    max-width: 600px; /* Adjust form width */
    margin: 40px auto; /* Center the form */
    padding: 20px; /* Add some padding */
    border: 1px solid #ccc; /* Add a border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  label {
    display: block; /* Make labels block elements */
    margin-bottom: 10px; /* Add space between labels */
  }
  
  input, textarea {
    width: 100%; /* Make inputs and textarea full width */
    padding: 10px; /* Add padding */
    margin-bottom: 20px; /* Add space between inputs */
    border: 1px solid #ccc; /* Add a border */
  }
  
  button[type="submit"] {
    background-color:#007bff; /* Blue color */
    color: #fff; /* White text */
    padding: 10px 20px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Add slight rounding */
    cursor: pointer; /* Change cursor on hover */
  }

  button[type="submit"]:hover{
    background-color: darkblue;
  }

  footer {
	background-color: #0e8ff1;
	color: #fff;
	margin-top: -15px;
	padding: 20px 0;
  }
  
  .footer-container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
  }
  
  .footer-left {
	width: 50%;
  }
  
  .footer-right {
	width: 50%;
	text-align: right;
  }
  
  .footer-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .footer-right li {
	display: inline-block;
	margin-right: 20px;
  }
  
  .footer-right li a {
	color: #fff;
	transition: color 0.3s ease;
  }
  
  .footer-right li a:hover {
	color: #ea3535;
  }